.body-box{
    height: 880px;
}
.body-box-left{
    height: 851px;
}
.message-body-1{
    width: 100%;
    /*background: #f86867;*/
    padding: 10px 0;
    height: 80px;
    border-bottom: 1px solid #e4eaec;
}
.huifuA{
    height: 150px;
}

.huifuA .message-img{
    height: 30%;
}
.message-img{
    width: 5%;
    height: 70%;
    /*background: black;*/
    margin-right: 10px;
    float: left;
}
.message-img img{
    width: 100%;
    height: 100%;
}
.message-word-1{
    width: 92%;
    /*background: #2196f3;*/
    float: right;
}
.message-word-1 h4{
    width: 50%;
    font-size: 14px;
    margin-bottom: 5px;
    /*background: #76838f;*/
    float: left;
    margin-top: 0;
}
.time-message{
    float: right;
    text-align: right;
    font-weight: 300;
    color:#a3afb7;
}
.message-word-1 p{
    font-size: 14px;
    color: #76838f;
    margin: 0 0 11px;
}
.reply{
    width: 93%;
    float: right;
    padding: 20px;
    background-color: #f3f7f9;
    border: 1px solid #e4eaec;
    border-radius: 3px;
}
.right-information{
    margin-bottom: 20px;
    background: #f86867;
}
.right-information input{
    width: 100%;
    height: 36px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
}
.body-box-left{
    width: 65%;
}
.body-box-right{
    width: 35%;
}
.proposal input{
    height: 124px;
}
.Verification{
    position: relative;
}
.ver-img{
    padding: 6px 15px;
    text-align: center;
    background: #f3f7f9;
    position: absolute;
    right: 0;
    top: 0;
}
.submit{
    text-align: center;
    font-size: 14px;
    padding: 6px 15px;
    font-weight: 300;
    touch-action: manipulation;
    cursor: pointer;
    color: #fff;
    background-color: #62a8ea;
    border-color: #62a8ea;
}
